body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #000000;
    background-image: url("../IMG/congruent_outline.png");
    min-height: 100vh;
}


.navbar {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 10px 20px;
    margin: 10px auto;
    width: 95%;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.navbar-brand {
    color: rgb(255, 200, 0);
    font-weight: bolder;
}

.bg-color {
    background-color: transparent;
}

.container {
display: flex;
justify-content: center;
align-items: center;
margin: 700px;
margin-top: 100px;
margin-bottom: 100px;
gap: 5rem;
}
.titulo-datos {
    background: rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: 15px;
    font-size: 2rem;
    color:  rgb(255, 200, 0);
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}
.datos-personales {
    background: rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 15px;
    width: 100%;
}

.data-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.datos-personales dt {
    font-weight: bold;
    color:  rgb(255, 200, 0);
    font-size: 1.1em;
    margin-top: 10px;
}

.datos-personales dd {
    font-size: 1em;
    color: #ddd;
    margin: 0;
}
.titulo-resumen {
    font-size: 2rem;
    color:  rgb(255, 200, 0);
    font-weight: bold;
}
.resumen {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 50px;
    color: rgb(255, 200, 0);
    font-weight: bold;
    width: 100%;
    height: 533.14px;
    
}

.resumen p {
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
    font-size: small;

}
#experiencia {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 700px;
    margin-top: 300px;
    margin-bottom: 100px;
    gap: 5rem;

}

.titulo-experiencia {
    background: rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: 15px;
    font-size: 2rem;
    color:  rgb(255, 200, 0);
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
}

#portafolio {
    display: flex;
    justify-content: center;
    margin: 500px;
    margin-top: 300px;
    margin-bottom: 100px;
}
.titulo-portafolio {
    background: rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: 15px;
    font-size: 2rem;
    color:  rgb(255, 200, 0);
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}


.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    background-color: #000000;
    color: rgb(255, 200, 0);
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-img-container {
    position: relative;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
    width: 100%;
}

.card-title-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}



.btn-ver {
    display: block;
    width: 100px;
    margin: 10px auto;
    padding: 8px 15px;
    background: rgb(255, 200, 0);
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    text-align: center;
}

.btn-ver:hover {
    background: #cc5500;
    transform: scale(1.1);
}

.redes-sociales {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.btn-social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color:  rgb(255, 200, 0);
    color: black;
    border-radius: 50%;
    font-size: 20px;
    transition: transform 0.3s, background-color 0.3s;
    text-decoration: none;
}

.btn-social:hover {
    background-color: #cc5500;
    transform: scale(1.1);
    color: white;
}

footer {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    color:  rgb(255, 200, 0);
    text-align: center;
    padding: 20px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 60px;
}